# Para desarrollo local, o crear la Base de datos:
# 1. Copia este archivo y renómbralo a ".env"
# 2. Crea tu base de datos en Turso y copia las credenciales aquí.
TURSO_DATABASE_URL="libsql://tu-base-de-datos-turso.turso.io"
TURSO_AUTH_TOKEN="tu_token_de_autenticacion_seguro"
